/*hero*/
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36; /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
}

.hero {
  width: 1600px;

  background-color: var(--secondary-bckgr-color);
}

.hero-title {
  color: var(--primary-white-color);
}

/* button - Системи кнопок M.2,Веб.З: 2.09.40 */
.hero a {
  text-decoration: none; /*праює тільки зі ссилками*/
}

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;

  border-radius: 4px;
  border-style: none;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-grey-color);
}

section {
  color: var(--primary-text-color);
}

.section-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* section advantage */
.advantage-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

p {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* section staff  */
.section-staff {
  width: 1600px;

  background-color: var(--button-bckgr-color);
}

.staff-title {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

h4 {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
