* {
  /*Для сайта зняти: стилі браузера за замовчуванням, блокувати розтяг контейнера*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f5f7fa;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.wrapper {
  background: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto; /* центрування */
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15); /* тінь */
}

.sidebar {
  background: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.my-photo {
  width: 370px;
}
.contacts {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
}
